__pycache__*
.ipynb_checkpoints*
folder/*
slurm.*
notebooks/checkpoints/*
notebooks/net_state
notebooks/stats.nc
pyqg_generative.egg-info*
notebooks/model/*
notebooks/difference
notebooks/plot.pdf
notebooks/difference_recompute*
